extends ./../layouts/main.pug
block title
    p(class="warn") УВАГА! Отримано запит на підтвердження пошти користувача з Email #{customer.customer.email}
block description
    p(class="warn") Якщо ви не запитували підтвердження пошти - ігноруйте це повідомлення.
    p Токен підтвердження пошти користувача: #{customer.data.token}
    a(href=`https://lakomka.store/customer/confirm?email=${customer.customer.email}&token=${customer.data.token}`) Змінити пароль
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
